<div class="limiter">
        <div class="container-login100 m-2">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w"
                      (ngSubmit)="onRegister()"
                      [formGroup] ="usuarioForm">

                    <span class="login100-form-title p-b-51">
                        Crear nueva cuenta
                    </span>
                    <div class="wrap-input100 m-b-16">
                      <input  class="input100"
                              type="email"
                              placeholder="Email"
                              formControlName="email"
                              [class]="isValidField('email')">
                      <div class="invalid-feedback" style="background-color: white;">
                        <span *ngIf="usuarioForm.get('email').errors?.required">Este campo es obligatorio</span>
                        </div>
                    </div>
                    <div class="wrap-input100 m-b-16">
                      <input  class="input100"
                              type="text"
                              placeholder="Nombre y Apellido"
                              formControlName="nombre"
                              [class]="isValidField('nombre')">
                      <div class="invalid-feedback" style="background-color: white;">
                        <span *ngIf="usuarioForm.get('nombre').errors?.required">Este campo es obligatorio</span>
                      </div>
                    </div>

                    <div class="wrap-input100 m-b-16" data-validate = "Password is required">

                      <input  class="input100"
                              type="password"
                              placeholder="Password"
                              formControlName="password"
                              [class]="isValidField('password')">
                              <div class="invalid-feedback" style="background-color: white;">
                                <span *ngIf="usuarioForm.get('password').errors?.required">Este campo es obligatorio</span>
                              </div>
                    </div>
                    <div class="flex-sb-m w-full p-t-3 p-b-24">
                        <div>
                            <a [routerLink]="['/login']" class="txt1">
                                ¿Ya tienes cuenta? / Ingresar
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" type="submit">
                            Crear cuenta
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

